@font-face {
    font-family: 'zabars';
    src: url('../fonts/zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/5_background/desert-background.png');
    background-position: top;
    background-size: cover;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}


canvas {
    background-position: right;
    background-repeat: no-repeat;
    background-size: 125%;
    display: block;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


figure {
  margin: 0;
  padding: 0;
}

.allButtons {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 305px;
}

.mobileAlignment {
  width: 720px;
  display: flex;
  justify-content: space-between;
}

.menuAndSettingsMobileMode {
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: row;
  width: 130px;
  gap: 10px;
}

.menuAndSettings {
  display: flex;
  justify-content: space-between;
}

.instructions {
  padding-left: 5px;
  height: 30px;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 15px;
  gap: 40px;
}

.mobileIcon {
  width: 10px;
}

.mobileIcon:hover {
  transform: scale(1.1);
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.details {
  height: 35px;
  cursor: pointer;
}

.hideInstructions h2 {
  display: none;
}

.play {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

.mobile {
  height: 30px;
  cursor: pointer;
}

.mobileLeft, .mobileRight {
  width: 5%;
}

.mobileJump, .mobileThrowBottle, .mobileThrowShuriken {
  width: 5%;
}

.settingsBasePosition {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
}

.settingsBasePositionPlay { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100px;
}

.playMusicClass {
  cursor: pointer;
}

.settingsGameOver {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menuBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* Smartphones */
@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

/* Smartphones */
@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}