@font-face {
    font-family: 'zabars';
    src: url('../fonts/zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/5_background/desert-background.png');
    background-position: center;
    background-attachment: fixed;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}


canvas {
    background-position: right;
    background-repeat: no-repeat;
    background-size: 125%;
    display: block;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


figure {
  margin: 0;
  padding: 0;
}


h1 {
  letter-spacing: 10px;
  font-size: 46px;
}

.canvasContainer {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.icon {
  margin: 10px;
  z-index: 3;
  height: 40px;
}

.menuBar {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.playInfo {
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;    
}

.checkbox input[type="checkbox"], input[type="radio"] {
    min-width: 1.33rem;
    min-height: 1.33rem;
    accent-color: var(--txt-color);
}
  

.mobileIcon:hover {
  transform: scale(1.1);
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.details {
  height: 35px;
}

.play {
  height: 80px;
}

.mobile {
  height: 28px;
}

.fullscreen-icon {
  height: 40px;
}

.button {
  cursor: pointer;
}

.mobileLeft, .mobileRight {
  width: 10%;
}

.mobileJump, .mobileThrowBottle, .mobileThrowShuriken {
  width: 10%;
}

.userWon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 120px;
  font-size: 6rem;
  letter-spacing: 10px;
  word-spacing: 10px;
  color: #e3c400;
}

@media screen and (max-width: 400px) {

  .mobileLeft, .mobileRight {
    width: 8%;
    position: relative;
    top: 20px;
    right: 5%;
  }
  
  .mobileJump, .mobileThrowBottle, .mobileThrowShuriken {
    width: 8%;
    position: relative;
    top: 20px;
    left: 5%;
  }
}

@media screen and (max-width: 630px) {
  .mobileLeft, .mobileRight {
    position: relative;
    width: 7%;
    right: 6%;
  }
  
  .mobileJump, .mobileThrowBottle, .mobileThrowShuriken {
    position: relative;
    width: 7%;
    left: 6%;
  }
}


@media screen and (max-width: 780px) {
  .game-title {
    text-align: center;
  }

  .canvasContainer {
    position: relative;
    top: -45px;
  }

  .mobileLeft, .mobileRight {
    width: 8%;
    position: relative;
    right: 5%;
  }
  
  .mobileJump, .mobileThrowBottle, .mobileThrowShuriken {
    width: 8%;
    position: relative;
    left: 5%;
  }

  canvas {
    width: 90%;
  }

  .playInfo {
    width: 80%;
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }
}

@media screen and (min-width: 781px) {
  .mobileLeft, .mobileRight {
    position: relative;
    width: 7%;
    bottom: 45px;
    right: 6%;
  }
  
  .mobileJump, .mobileThrowBottle, .mobileThrowShuriken {
    position: relative;
    width: 7%;
    bottom: 45px;
    left: 6%;
  }
}

@media screen and (min-width: 940px) {
  .mobileLeft, .mobileRight {
    position: relative;
    width: 7%;
    bottom: 50px;
    right: 6%;
  }
  
  .mobileJump, .mobileThrowBottle, .mobileThrowShuriken {
    position: relative;
    width: 7%;
    bottom: 50px;
    left: 6%;
  }
}